:root {
  --main-color: #d22525;
  --alt-main-color: #e95050;
  --section-color: #ffeded;

  --small-font: 0.8rem;
  --normal-font: 1rem;
  --normal-big-font: 1.3rem;
  --big-font: 2rem;
  --bigest-font: 3rem;
}
